@import "../../styles/main";

.ant-table-small {
	border: none;

	th {
		background: transparent !important;
		font-size: 12px;
		font-weight: normal !important;
	}

	.ant-table-body {
		margin: 0 !important;
	}

	td {
		padding: 12px 8px !important;
	}
}

